@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@font-face {
  font-family: "Pokemon";
  src: url("./assets/fonts/Pokemon_solid.ttf");
}

@import "tailwindcss";

@theme {
  /* Pokemon Colors */
  --color-pokemon-red: oklch(0.5321 0.2789 27.23); /* #FF0000 */
  --color-pokemon-bu-red: oklch(0.4585 0.2231 27.23); /* #CC0000 */
  --color-pokemon-cerulean: oklch(0.4913 0.1843 276.63); /* #3B4CCA */
  --color-pokemon-yellow: oklch(0.9216 0.1843 92.06); /* #FFDE00 */
  --color-pokemon-gold: oklch(0.6913 0.1231 92.06); /* #B3A125 */

  /* Font Family */
  --font-space: "Space Grotesk", sans-serif;
  --font-pokemon: "Pokemon", sans-serif;
}

.pokeball {
  width: 50px;
  height: 50px;
  background-image: url("./assets/images/pokeball.png"); /* Adjust path if needed */
  background-size: cover;
  display: inline-block;
  animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
